body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0;
  padding: 0;
  /* font-family: 'Cinzel', serif; */
}

.add-data{
  width: 100%;
  height: 100vh;
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #380036 0%, #0cbaba 74%);
}
.center-div{
  width: 350px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px black;
}

.profile-pic{
  width: 120px;
  height: 120px;
  position: relative;
  top: -60px;
  left: calc((350px - 120px)/2);
}
.header-text{
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 2em;
  word-spacing: 10px;
  margin-top: -50px;
  text-shadow: 0 0 20px red;
}

.input-feild{
  width: 80%;
  margin-left: 10%;
  height: 40px;
  margin-top: 10px;
  padding-left: 10px;
  box-sizing: border-box;
  border: none;
}
::placeholder{
  letter-spacing: 2px;
  text-transform: uppercase;
  /* color: black; */
}
.button{
  width: 80%;
  margin-left: 10%;
  height: 30px;
  display: block;
  margin-top: 20px;
  background-image: linear-gradient(315deg, #380036 0%, #0cbaba 74%);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.forgot-pass{
  display: flex;
  color: white;
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
  justify-content: flex-end;
  padding-inline-end: 10px;
  box-sizing: border-box;
  text-transform: lowercase;
}

/* loginpage css end */

.container{
  width: 100%;
  height: 100vh;
  background-color: turquoise;
}
.add-feild-card{
  width: 70%;
  height: 40vh;
  position: absolute;
  background-image: linear-gradient(315deg, #da3ed4 0%, #9452ca 74%);
  top: 50%;
  left: 50%;
  transform: translate(-50% , -80%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.feilds{
  height: 40px;
  width: 30%;
}
.feild-wraper{
  display: flex;
  justify-content: space-around;
  margin-top: 4%;
}
.button-wraper{
  display: flex;
  justify-content: center;
  margin-top: 4%;
}
.btn-save{
  background-color: #00b712;
  background-image: linear-gradient(315deg, #00b712 0%, #5aff15 74%);
  width: 40%;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 1px;
}
.render-container{
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: whitesmoke;
}
.header{
  position: sticky;
  top: 0;
  width: 60%;
  margin-left: 20%;
  background-color: #42378f;
  background-image: linear-gradient(315deg, #42378f 0%, #f53844 74%);
  display: flex;
}
.render-headaer{
  text-align: center;
  text-transform: uppercase;
  word-spacing: 10px;
  /* position: -webkit-sticky; */
  position: sticky;
  top: 0;
  color: white;
}
/* .render-center-div{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 400px;
  transform: translate(-50%, -60%);
  overflow: scroll;
} */
.render-data{
  /* style={{height:'40px', width:'60%', backgroundColor:'red', margin:10}} */
  height: 70px;
  width: 60%;
  margin-left: 20%;
  background-color: #f7b42c;
  background-image: linear-gradient(315deg, #fc575e 0%, #f7b42c 74%);
  margin-top: 5px;
  display: flex;
  padding-left: 1%;
  padding-top: 5px;
  box-sizing: border-box;
  flex-direction: column;
}
.render-name{
  text-transform: capitalize;
  word-spacing: 2%;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
.age-village{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline-end: 10px;
  padding-top: 5px;
  box-sizing: border-box;

}